body {
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI',
    -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #f0f1f1;
  color: #372f45;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #222022;
    color: #fbf6ef;
  }
}
